.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: whitesmoke;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-nav {
  background-color: #282c34;
}
.Button {
  background-color: #61dafb;
  height: 50px;
  width: 150px;
}

.Landing {
  margin-top: 15px;
}

.NavItem {
  color: #282c34 !important;
  flex: 1;
  margin-right: 20px;
}

.HeaderText {
  color: #282c34 !important;
}

.Nav {
  display: flex;
  flex-direction: row !important;
}

.Nav-item {
  flex: 1;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
