.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: whitesmoke;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header2 {
  background-color: whitesmoke;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-nav {
  background-color: #282c34;
}
.Button {
  background-color: #61dafb;
  height: 50px;
  width: 150px;
}

.Landing {
  margin-top: 15px;
}

.Atag {
  color: whitesmoke !important;
}

.Logo {
  width: 10vw;
  height: 9vw;
}
.Tab {
  margin: 10px;
}
#some-element1 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#some-div1:hover #some-element1{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  background-color: whitesmoke;
}

#some-element2 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div2:hover #some-element2 {
  display: block;
}

.tabs {
  margin-left: 33%;
  margin-right: 33%;
}



.NavItem {
  color: #282c34 !important;
  flex: 1;
  margin-right: 20px;
}

.HeaderText {
  color: #282c34 !important;
}

.nav {
  color: white;
}

.Nav-item {
  flex: 1;
  
}

.Banner {
  width: 100%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bar {
  overflow: hidden;
}

.bar .baritem {
  float: center;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.down {
  display: inline-block;
  overflow: hidden;
}

.down .btn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #485051;
  font-size: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.baritem {
  color: #485051!important;
}
.down-content {
  display: none;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 15px;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.down-content .baritem {
  display: block;
  text-align: left;
}

.down:hover .down-content {
  display: block;
}